<ion-content>
  <div class="container">
    <div class="header">
      <span>Seja bem-vindo</span>
      <span>Taboão da Serra, SP</span>
    </div>
    <div class="prompt">
      <p>Vamos pedir itens fresquinhos para você?</p>
    </div>
    <div class="categories">
      <div class="category">
        <img src="assets/frutas.png" alt="User">
        <span>Frutas</span>
      </div>
      <div class="category">
        <img src="assets/diversos.png" alt="Diversos">
        <span>Diversos</span>
      </div>
      <div class="category">
        <img src="assets/acougue.png" alt="Acougue">
        <span>Açougue</span>
      </div>
    </div>

    <div class="my-purchases">
      <div class="purchase">
        <img src="assets/frutas.png" alt="Frutas">
        <span>Frutas</span>
        <span>R$ 50,00</span>
        <span>27/05/2024</span>
      </div>
      <div class="purchase">
        <img src="assets/diversos.png" alt="Diversos">
        <span>Diversos</span>
        <span>R$ 40,00</span>
        <span>27/05/2024</span>
      </div>
      <div class="purchase">
        <img src="assets/acougue.png" alt="Acougue">
        <span>Açougue</span>
        <span>R$ 80,00</span>
        <span>27/05/2024</span>
      </div>
    </div>
  </div>
</ion-content>
