<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col size="6">
        <p>Taboão da Serra</p>
    </ion-col>

    <ion-col size="6">
        <img src="assets/user.png" alt="User">
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-searchbar placeholder="Pesquisar" color=#e9e9e9></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="category-button fruits">
          <img src="assets/frutas.png" alt="Frutas">
          <ion-card-content>Frutas</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="category-button various">
          <img src="assets/diversos.png" alt="Diversos">
          <ion-card-content>Diversos</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size="6">
        <ion-card class="category-button fruits">
          <img src="assets/acougue.png" alt="Acougue">
          <ion-card-content>Açougue</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="category-button various">
          <img src="assets/bebidas.png" alt="Bebidas">
          <ion-card-content>Bebidas</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
