<ion-header>
  <ion-toolbar>
    <ion-title>
      Grocery Delivery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grocery-bag">

    <img src="assets/home-image.png" alt="Grocery Bag">
  </div>

  <h1 class="Titulo">Entregamos mantimentos à sua porta.</h1>

  <div class="description">
    <p>A mercearia oferece vegetais e frutas frescas.</p>
    <p>Encomende itens frescos na mercearia.</p>
  </div>

  <ion-button size="large">INICIAR -></ion-button>
</ion-content>
